@media(max-width: 1399px ){
    .avata_mask{
        width: 112.5px;
        height: 112.5px;
        border-radius: 20.25px;
    }
    .avata_name{
        font-size: 10px;
        height: 12.5px;
    }

    .avata_info {
        width: 49.5px;
        height: 26.25px;
        font-size: 10.5px;
    }

    .avata_command{
        height: 26.25px;
        font-size: 13.5px;
    }


}


@media (max-width : 1279px){
    .general_title{
        height: 64.5px;
        font-size: 48px;
    }

    .home-hello, .about-title, .artech_header_title, .calendar_header_title, .member_title{
        font-size: 48px;
    }
    .home-line{
        width: 331.25px;
        height: 1px;
        margin-top:24.75px;
        margin-bottom:24.75px;
    }

    .home-right-group{
        width: 213.75px;
        height: 120px;
        margin-bottom: 27px;
    }
    .home-right-img{
        width:120px;
        height:120px;
    }

    .home-right-info{
        width:90px;
        height: 60px;
    }

    .home-right-info div b {
        font-size: 10.5px;
    }
    .ustech-dart-image-image{
        height: 80px;
        background-size: 80px auto;
    }

}

@media(max-width: 1023px){
    .general_title{
        height: 43px;
        font-size: 32px;
    }

    .home-hello, .about-title, .artech_header_title, .calendar_header_title, .member_title{
        font-size: 32px;
    }
    .home-line{
        width: 207.5px;
        height: 1px;
        margin-top: 33px;
        margin-bottom: 33px;
    }

    .home-right-group{
        width: 213.75px;
        height: 120px;
        margin-bottom: 27px;
    }
    .home-right-img{
        width:120px;
        height:120px;
    }

    .product_header_title{
        font-size: 12px;
    }

    .product_header_sub{
        font-size: 25px;
    }
}


@media(max-width: 946px) {
    .white-bg2 {
        background-image: url('../images/new/aboutBg_new_mobile.jpg') !important;

    }
}


@media(max-width: 487px){

    .general_title{
        height: 32.25px;
        font-size: 23px;
    }

    .home-hello,.about-title, .artech_header_title, .calendar_header_title, .member_title{
        font-size:23px;
    }

    .home-line{
        width: 155.625px;
        margin-top:24.75px;
        margin-bottom:24.75px;
    }

    .about-info {
        font-size: 18px;
    }


    .home-right-group{
        width: 142.5px;
        height: 80px;
        margin-bottom: 18px;
    }
    .home-right-img{
        width:79px;
        height:79px;
    }

    .home-right-info{
        width:60px;
        height:40px;
    }

    .home-right-info div b {
        font-size: 7px;
    }
}


@media (max-width: 356px){

    .home-hello,.about-title, .artech_header_title, .calendar_header_title, .member_title{
        font-size: 20px;
    }


    .home-hello{
        font-size: 20px;
    }

    .skill_ar-content,
    .artech_header,
    .artech_header_title,
    .artech_header_line,
    .artech_header_info,
    .artech_download,
    .artech_info{
        max-width: 290px;
    }
}