@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


/* general */
*{
    font-family: 'Noto Sans KR', sans-serif !important;
}
.fa{
    font-family: FontAwesome  !important;
}
[class^="ti-"], [class*=" ti-"] {
    font-family: 'themify' !important;
}
.img-about-us {
    transform: rotate(90deg);
    width: 400px;
}

.page-divider {
    width: 100%;
    height: 120px;
}

.app-download-wrapper {
    box-sizing: border-box;
    padding: 0 40px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.app-download {
    width: 250px;
}

.app-download > img{
    width: 250px;
}
.general_title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 64px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.34;
    letter-spacing: -1px;
    color: #84c52d;
}
html,body{
    overflow-x: hidden;
}

    /*HOME*/
.home-left-group-parent{
    display:inline-block;
    height: 99vh;
}
.home-left-group{
    display:table;
    height: 100%;
}
.home-left-sub{
    display: table-cell;
    vertical-align: middle;
}
.home-hello{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 64px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: -4.1px;
    color: #ffffff;
}

.home-hello b{
    color: #84c52d;
}
.home-line{
    width: 415px;
    height: 1px;
    background-color: #84c52d;
    margin-top:33px;
    margin-bottom:33px;
}

.home-right-group-parent-top{
    display:inline-block;
    float:right;
    height: 100vh;
}

.home-right-group-parent{
    display:table;
    height: 100%;
}

.home-right-group-col{
    display:table-cell;
    vertical-align: middle;
}

.home-right-group{
    width: 285px;
    height: 160px;
    margin-bottom: 36px;
    background-image: url('/images/new/home/home-right-line.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    white-space: nowrap;
}

.home-right-img{
    display:inline-block;
    width:160px;
    height:160px;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-right-info{
    display:inline-block;
    width: 120px;
    height : 80px;
    text-align: center;
}
.home-right-info div{
    width: 100%;
    height:100%;
    display:table;
}
.home-right-info div b{
    display:table-cell;
    vertical-align: middle;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: -0.2px;
    color: #84c52d;
}

/* about */
.about-title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 64px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.34;
    letter-spacing: -1px;
    color: #ffffff;
}
.about-title b{
    color: #84c52d;
}

.about-info{
    max-width: 780px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 22px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.73;
    letter-spacing: -0.8px;
    color: #ffffff;
    margin-bottom: 15px;
}
.about-info b{
    font-weight: normal;
    color:#84c52d;
}

/*ustech */
.ustech-info-title-top{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 21.6px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.3px;
    color: #363f4c;
}

.ustech-info-title-line{
    width: 555.3px;
    height: 1px;
    background-color: #84c52d;
    margin-top:5px;
    margin-bottom: 5px;
}

.ustech-info-title-bottom{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12.6px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.4px;
    line-height: 1.71;
    color: #84c52d;
}



.ustech-info-title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.4px;
    color: #363f4c;
}

.ustech-info-info{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.4px;
    color: #363f4c;
    margin-bottom: 15px;
}

.ustech-info-company{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #b4b4b4;
    cursor: pointer;
}

.ustech-dart-image-group{
    min-height: 150px;
}
.ustech-dart-image-image{
    height:130px;
    background-size: 120px auto;
    background-repeat: no-repeat;
    background-position: center center;

}
.ustech-dart-image-name{
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #363f4c;
}

.ustech-dart-line{
    width:100%;
    height: 2.7px;
    background-color: #84c52d;
    margin-top: 20px;
    margin-bottom: 20px;
}


.ustech-dart-bar-title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.3px;
    color: #363f4c;
    margin-bottom:20px;
}

/* artech */
.artech_header{

}

.artech_header_title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 64px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.34;
    letter-spacing: -1px;
    color: #84c52d;
}

.artech_header_line{
    width:100%;
    max-width: 325px;
    height:1px;
    background-color:#84c52d;
    margin-top: 30px;
    margin-bottom:10px;
}

.artech_header_info{
    font-family: 'Noto Sans KR', sans-serif;
    max-width: 325px;
    font-size: 12.6px;
    font-weight: 300;
    letter-spacing: -0.1px;
    color: #ffffff;
}

.artech_download{
    max-width:325px;
    margin-top: 60px;
}

.artech_download_button{
    width:100%;
    height:5vh;
    max-height: 80px;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
}

.artech_info{
    margin-top:70px;
}

.artech_info_title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 21.6px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff;
    max-width: 325px;
}
.artech_info_info{
    margin-top:30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12.6px;
    font-weight: 300;
    color: #ffffff;
    max-width: 325px;
}
/* calendar */
.calendar_header_title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: #84c52d;
    margin-top: 30px;
}

/* product */ 

.product_header_title{
    font-size: 24px;
    font-weight: bold;
    color: #84c52d;
}

.product_header_sub{
    font-size: 50px;
    font-weight: bold;
    color: #363f4c;
}

/* member */
.member_title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 64px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.34;
    letter-spacing: -1px;
    color: #84c52d;
}
.avata_mask {
    width: 150px;
    height: 150px;
    border-radius: 27px;
    border: solid 6px #84c52d;
}

.avata_name{
    width: 54px;
    height: 35px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    /*font-weight: 500;*/
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: -0.5px;
    color: #363f4c;
}

.avata_info{
    width: 66px;
    height: 35px;
    opacity: 0.56;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    /*font-weight: 500;*/
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.5;
    letter-spacing: -0.4px;
    color: #363f4c;
}

.avata_line{
    width: 131px;
    height: 1px;
    background-color: #84c52d;
}

.avata_command{
    height: 35px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.94;
    letter-spacing: -0.5px;
    color: #84c52d;
}

.avata_dummy{
    width: 100px;
    height: 100px;
}

/* modal */
.modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

@media (min-width: 1273px) {
    .product_item {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media (max-width: 990px){
    .modal-dialog {
        position: absolute;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    .modal-dialog {
        width: 85% !important;
        height: 80% !important;
    }


}

.blog-image {
    text-align: center;
    max-width: 500px;
}
.blog-block {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.blog-info {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.blog-image img{
    max-width: 500px;
    height: auto;
    width: 100%;
}
.blog-content{
    text-align: center;
}
.blog-content a{
    font-weight: bold !important;
}
.modal-header{
    background-color: #84c52d;
}
.modal-title{
    color:white;
}
.modal-close{
    color:white;
    opacity: 1;
}
.modal-footer{
    background-color: #273244;
}
.product_info{
    font-size: 16px;
}


.main-bg{
    background-position: center center !important;
    background-size: auto, auto !important;
    background-repeat: no-repeat !important

}

@media (max-width: 900px){
    .main-bg {
        background-size: 500, 500!important
    }
}


@media (max-width: 580px){
    .main-bg {
        background-size: contain !important
    }
}